/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: currentColor;
    text-decoration: none;
    display: block;
}
ul, ol, 
menu{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
/*LAYOUT*/
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/*STYLE*/
header{
    background-color: #0084FD;
    color: white;
    font-size: 15px;
    height: 76px;
    padding: 16px 0;
}
.button.black-white{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
}
a.button{
    border-radius: 999px;
}
.nav .row{
    justify-content: space-between;
    align-items: center;
}
.top-list{
    gap: 32px;
}
.burger{
    font-size: 22px;
}
/*MAIN*/
.demo-card{
    background-color: #B5DDFF;
    border-radius: 18px;
}
/*MEDIA_QUERY*/
@media (max-width:992px) {
    .top-list{
        display: none;
    }
}

@media (min-width:993px){
    .burger{
        display: none;
    }
}

@media (min-width:1200px) {
    .container{
        max-width: 1200px;
    }
}

