/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}
ul, ol, 
menu{
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
}
.img-phone{
    width: 235px;
}
/*LAYOUT*/
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 18px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*STYLE*/
header{
    background-color: #0084FD;
    color: white;
    font-size: 15px;
    height: 76px;
    padding: 16px 12px;
}
.button.bt-black-white{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
}
.button.bt-blue{
    background-color: #0084FD;
    color: white;
    font-size: 16px;
    padding: 12px 50px;
    margin-bottom: 32px;
}
a.button{
    border-radius: 999px;
}
.nav .row{
    justify-content: space-between;
    align-items: center;
}
.top-list{
    gap: 32px;
}
.burger{
    font-size: 22px;
}
h2{
    color: #0084FD;
    margin-bottom: 32px;
    font-size: 20px;
}
p{

    line-height: 28px;
    font-size: 16px;
    font-size: 14px;
    font-weight: 700;
}
.blue-icon{
    color: #0084FD;
    font-size: 70px;
    margin-bottom: 26px;
}
.card.icon-card{
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 18px;
    padding: 32px;
}
/*MAIN*/
.col-12{
    padding: 12px;
    width: calc(12+ 100% / 12);
}

.demo{
   margin: 50px 0;
}
.demo-card{
    background-color: #B5DDFF;
    border-radius: 18px;
}
.demo-card p{
    margin-bottom: 32px;
}
.card{
    padding: 0 32px;
    padding-top: 32px;
   
}
.card.icon-card{
    text-align: center;
    background-color: #B5DDFF;
    border-radius: 18px;
    padding: 32px;
}
.apple{
    margin-right: 12px;
}
.img-phone{
    max-width: 100%;
}
/*MEDIA_QUERY*/

@media (min-width:768px) {
    .col-md-8{
        width: calc(8* 100% / 12);
    }
    .col-md-4{
        width: calc(4* 100% /12);
    }
    .card{
        height: 100%;
        margin-bottom: 0;
    }
  
}

@media (max-width:991px) {
    .top-list{
        display: none;
    }

}

@media (min-width:992px){
    .top-list{
        display: flex;
    }
    .burger{
        display: none;
    }
   
}

@media (min-width:1200px) {
    .container{
        max-width: 1200px;
    }
    .large{
        width: 50%;
        align-items: flex-start;
    }
    .large.lg-img{
        align-self: flex-end;

    }
} 

